<section class="main main__what" id="second" ng-controller="mainCtrl">
        <div class="center">
                <a href="" ui-sref="what">
                        <img src="../img/Logo_white.png" alt="">
                </a>
                <p id="what-4" class="main__what__description" >
                        <span class="Caps">{{name}}<span class="noCaps">, посмотри</span>
                        </span>

                </p>
                <h1 id="what-5" class="main__what__header film">{{film}}</h1>
                <div id="what-6" class="center btn__container btn-padding">
                        <a href="/" ui-sref="what2" class="two">
                                <p class=" transferLink btn btn-yellow" ng-click="filmUpdate()">Еще совет</p>
                        </a>
                        <a href="/" ui-sref="what" class="two">
                                <p class="btn">Загуглить</p>
                        </a>
                </div>
                <p class="link">
                        <a class="transferLink link" ui-sref="who">
                                Кто он этот робот?
                        </a>
                </p>
        </div>
</section>