<section class="main main__what " id="first">
        <div class="center">
                <img src="../img/Logo_white.png" alt="">
                <h1 id="what-1"class="main__what__header">Что смотреть?</h1>
                <div id="what-2">
                        <p class="main__what__description">ваше имя</p>
                        <input type="text" class="form__input"/>
                </div>
                <a id="what-3"href="/" ui-sref="/main">
                    <div class="btn">Получить совет</div>
                </a>
                <a href=""  ui-sref="/who">
                        <p class="link">Кто он этот робот?</p>
                </a>
        </div>
</section>