<section class="main main__what" id="second">
        <div class="center">
                <img src="../img/Logo_white.png" alt="">
                <p id="what-4" class="main__what__description">Иван, посмотри</p>
                <h1 id="what-5" class="main__what__header film">Манина, девушка в бикини (1952)</h1>
                <div id="what-6" class="center btn__container btn-padding">
                        <a href="/" ui-sref="what" class="two">
                                <p class=" transferLink btn btn-yellow">Еще совет</p>
                        </a>
                        <a href="/" ui-sref="what" class="two">
                                <p class="btn">Загуглить</p>
                        </a>
                </div>
                <p class="link">
                        <a class="transferLink link" ui-sref="who">
                                Кто он этот робот?
                        </a>
                </p>
        </div>
</section>