<section class="main main__who" id="who">
        <div class="center">
                <img src="../img/Logo_black.png" alt="">
                <p id="who-1" class="title">Кто он этот робот?</p>
                <p id="who-2" class="description">Главное - чтоб открывались перспективы! И, некоторое время, не закрывались...</p>
                <div id="who-3" class="btn">
                    <a  class="transferLink" href="/" ui-sref="what">
                        Вернуться
                    </a>
                </div>
        </div>
</section>